header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .header-content {
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 0;
  }
  